li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  font-family: Roboto;
  display: grid;
  place-items: center;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 690px 690px;
  grid-auto-rows: 690px;
  grid-gap: 60px;
  padding: 10px 10px 20px 10px;
}

.sns {
  background-color: white;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 30px;
  padding: 30px;
}

.insta {
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 1px solid rgb(204, 203, 203);
  width: 300px;
  height: 300px;
}

.insta iframe {
  width: 312px;
  height: 300px;
  line-height: 300px;
  left: 0;
  top: 0;
  border-radius: 20px;
  border: none;
}

.insta iframe::-webkit-scrollbar {
  display: none;
}

.twitter {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0;
  border: none;
  overflow: hidden;
  position: relative;
}

.twitter a::-webkit-scrollbar {
  display: none;
}

.tiktok {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}

.tiktok blockquote {
  width: 300px;
  height: 300px;
  line-height: 300px;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid rgb(204, 203, 203);
  margin: 0px;
}

.tiktok blockquote::-webkit-scrollbar {
  display: none;
}

.facebook {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 1px solid rgb(204, 203, 203);
}

.facebook .fb-page {
  width: 300px;
  height: 300px;
  line-height: 300px;
  overflow: auto;
  border-radius: 15px;
}

.facebook .fb-page::-webkit-scrollbar {
  display: none;
}

.youtube {
  background-color: white;
  border-radius: 40px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 210px;
  grid-gap: 30px;
  padding: 30px;
  overflow: auto;
}

.youtube .videos .metadata .title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.youtube .videos .metadata .views {
  font-size: 12px;
  color: rgb(146, 145, 145);
}

.youtube::-webkit-scrollbar {
  display: none;
}

/* 뷰포트 크기가 1160px - 1500px 사이일 경우 */
@media screen and (min-width: 1160px) and (max-width: 1500px) {
  .content {
    display: grid;
    grid-template-columns: 690px 360px;
    grid-auto-rows: 690px;
    grid-gap: 20px;
  }

  .youtube {
    background-color: white;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px;
    grid-gap: 30px;
    overflow: auto;
  }
}

/* 뷰포트 크기가 1159px보다 작을 경우 */
@media screen and (max-width: 1159px) {
  .content {
    display: grid;
    grid-template-columns: 690px;
    grid-auto-rows: 690px;
    grid-gap: 20px;
  }

  .youtube {
    background-color: white;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 210px;
    grid-gap: 30px;
    overflow: auto;
  }
}
