body {
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: Roboto;
  font: 600 16px/18px;
  margin: 0px 30px 0px 30px;
  min-width: 650px;
}

.row {
  display: flex;
  justify-content: center;
}

.login-box {
  width: 480px;
  margin: 48px 10px 10px 10px;
  height: 590px;
  position: relative;
  background-color: white;
  border-radius: 40px;
}
.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 60px 70px 50px 70px;
  background-color: #fff;
  border-radius: 40px;
}
.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}
.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}
.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #aaa;
}
.login-snip .tab:hover {
  cursor: pointer;
}
.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: #222222;
  border-color: #eeb6a5;
}
.login-space {
  height: 350px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-top: 10px;
}
.login-space .group {
  margin-bottom: 20px;
}
.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #000000;
  display: block;
}
.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgb(170 170 170 / 20%);
}
.login-space .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-space .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-space .group .button {
  background: #eeb6a5;
  color: #fff;
  margin-top: 50px;
}
.login-space .group .button:hover {
  cursor: pointer;
}
.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-space .group .text-links {
  color: #eeb6a5;
}
.login-space .group:has(.check:checked, .text-links) {
  display: flex;
  justify-content: space-between;
}
.login-space .group .check:checked + label {
  color: #222222;
}
.login-space .group .check:checked + label .icon {
  background: #eeb6a5;
}
.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0);
}
.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0);
}

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: #eeb6a5;
  text-decoration: none;
}

.hr {
  height: 2px;
  margin: 35px 0 25px 0;
  background: rgb(238 182 165);
}
.foot {
  text-align: center;
  color: #eeb6a5;
}
.my_card {
  width: 500px !important;
  left: 100px;
  display: flex;
}
::placeholder {
  color: #b3b3b3;
}
.login_with_sns {
  display: flex;
  justify-content: center;
}
.btn-social-login {
  transition: all 0.2s;
  outline: 0;
  border: 1px solid transparent;
  padding: 0.5rem !important;
  border-radius: 50%;
  color: #fff;
  margin: 5px;
}
.btn-social-login:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  cursor: pointer;
}
.btn-social-login a {
  color: #fff !important;
}
.text-dark {
  color: #343a40 !important;
}
