body{
   font-family: Roboto;
}


/* div 기본 구역 크기 설정 */

               #listAdd_main_hidden{
                  position: absolute;
                  background-color: white;
                  width: 30%;
                  height: 40%;
                  border: 1px solid black;
                  margin-top: 8%;
                  left: 15%;
                  display: flex;
                  flex-direction: column;
                  display: none;
               }


               .big_nemo{
                  width: 1590px;
                  height: 700px;
                  margin-left: 1%;
                  display: flex;
                  justify-content: space-evenly;
               }
      
               .nem1{
                  width: 60%;
                  height: 100%;
                  /* background-color: white; */
                  border-radius: 5%;
                  margin-right: 0.5em;
                  flex-direction: row;
               }
      
                  .to_do_list{
                     width: 98%;
                     height: 92%;
                     background-color: white;
                     border-radius: 5%;
                     margin: 0 0.6em;

                  }
      
                  /* .to_do_checkbar{
                     width: 100%;
                     height: 25%;
                     background-color: white;
                     border-radius: 5%;
                  } */
      
               .nem2{
                  width: 40%;
                  height: 92%;
                  background-color: white;
                  border-radius: 5%;
               }
      
                     .inner_container{
                        width: 98%;
                        height: 92%;
                        margin: 0;
                        padding-left: 2%;
                        padding-top: 2%;
                        padding-bottom: 2%;
                     }
                     #twoinner_container{
                        height: 98%;
                     }
                     #checkbar{
                        width: 97%;
                        height: 87%;
                        padding-left: 1%;
                        padding-top: 1%;
                        padding-bottom: 1%;
                     }

                     
/* 리스트 상단 날짜 nav 크기 설정 */


                     
/* 해야하는 일 목록 css */
      
      .to_do_list table {
         font-size: 20px;
      }
      
      #listAdd{
         width: 100%;
         /* border: 1px solid black; */
         table-layout: fixed;
         border-top: 1px solid #444444;
         border-collapse: collapse;
      }
      #listAdd th{
         border-bottom: 1px solid #444444;
         padding: 10px;
         /* border: 1px solid black; */
      }
      #listAdd td{
         border-bottom: 1px solid #444444;
         padding: 10px;
         /* border: 1px solid black; */
      }
      

      /* #listAddButton{
         border: 0; 
         background-color: transparent;

         font-size: 100%;
         flex-direction: row-reverse;
      } */

      /* #listAddButton:hover{
         font-weight: bold;
      } */

      #listAdd_html{
         text-decoration: none;
         color: black;
         border: 0; 
         background-color: transparent;
      }

      #listAdd_html:hover{
         color: darkmagenta;
      }
      #listAdd_div:hover{
         color: darkmagenta;
      }

      #listAdd_main_hidden header{
         margin-top: 4%;
         margin-left: 3%;
         height: 1%;
         font-size: 18px;
      }

      #mustit{
         height: 100%;
         width: 85%;
         margin-top: 2%;
         margin-left: 6%;
         
      }

      #hidden_important{
         margin-left: 6%;
         margin-top: 8%;
      }

      #addadd{
         display: flex;
         flex-direction: row-reverse;
         width: 90%;
      }



/* 달력 css */

.sec_cal {
   width: 90%;
   position: relative;
   top: 10%;
   margin: 0 auto;
   font-family: "NotoSansR";
}

.sec_cal .cal_nav {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 48px;
   line-height: 78px;
}

.sec_cal .cal_nav .year-month {
   width: 300px;
   text-align: center;
   line-height: 1;
}

.sec_cal .cal_nav .nav {
   display: flex;
   border: 1px solid #333333;
   border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
   display: block;
   width: 50px;
   height: 78px;
   font-size: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
   content: "";
   display: block;
   width: 20px;
   height: 20px;
   border: 3px solid #000;
   border-width: 3px 3px 0 0;
   transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
   border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
   transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
   transform: rotate(45deg);
}

.sec_cal .cal_wrap {
   padding-top: 40px;
   position: relative;
   margin: 0 auto;
}

.sec_cal .cal_wrap .days {
   display: flex;
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
   top: 368px;
}

.sec_cal .cal_wrap .day {
   display:flex;
   align-items: center;
   justify-content: center;
   width: calc(100% / 7);
   text-align: left;
   color: #6d6b6b;
   font-size: 12px;
   text-align: center;
   border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
   display: flex;
   flex-flow: wrap;
   height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
   color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
   color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
   color: #ddd;
}